---
layout: page
permalink: /experience/
---

{% assign sorted = site.experience | sort: 'start' | reverse %}
{% for x in sorted %}

    {% capture subtitle %}
    {{ x.position }} | {{ x.start | date: "%B %Y" }} - {% if x.end %}{{ x.end | date: "%B %Y" }}{% else %}Present{% endif %}
    {% endcapture %}

    {%
        include content-section.html
        title=x.company
        subtitle=subtitle
        videos=x.video
        pictures=x.picture
    %}

    {% if forloop.last != true %}
    <hr />
    {% endif %}

{% endfor %}
